@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Muli');

.fontFam{
/*  font-family: 'Open Sans', sans-serif;*/
  font-family: 'Muli', sans-serif;

}

.FontFamilies{
  /*font-family: 'Lobster', cursive;
  font-family: 'Permanent Marker', cursive;*/
  font-family: 'Satisfy', cursive;
  font-size:35px;
  /*padding:px;*/
  padding-bottom:10px;
  padding-top:10px;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;

  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
  background-color:#474a59;
}

.bm-burger-button {
  /*position: fixed;*/
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 1.0em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;

}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
